@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Ubuntu:wght@300&family=Vujahday+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');


body {
  background:black; 
 
}



header {
  
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10%;
  size: 100%;
  
}



.imagemjujus{
  font-family: 'Fredoka One', cursive;
  height: 90px;
  
}


.home{
  font-family: 'Fredoka One', cursive;
  color: white;
  font-size: 35px;
  text-decoration: none;
}



.ingressos{
  font-family: 'Fredoka One', cursive;
  color: white;
  font-size: 35px;
  
}

.sobre{
  font-family: 'Fredoka One', cursive;
  color: white;
  font-size: 35px;
  text-decoration: none;
}

.agenda{
  color: white;
  text-align:center;
  font-family: 'Vujahday Script', cursive;
  font-size: 300%;
}

footer {
	width: 1000px;
	height: 10%;
  
  
  
}

.copyright {
	color: #fff;
	font-size: 1.2rem;
	line-height: 40px;
	text-align: center;
}

.copyright a{
	color: #fff;
	font-size: 1rem;
	letter-spacing: 1px;
    text-decoration: none;
}

.copyright a:hover{
	color: orangered;
}

.op {

  padding-top: 25%;

}
.curacao {
 height: 45%;
  
}

.card {

background: white;
display: flex;
flex-direction: column;
width: 400px;
text-align: center;
height: 100%;
border-radius: 1rem;
margin: 1.5rem;
transition: 0.3s;

}

.card:hover {

 transform: scale(1.1);

}

.estado1 {
   
  color: black;
  font-family: 'Oswald', sans-serif;
}

.local1 {

 color: black;
font-family: 'Oswald', sans-serif;
}

.bt1 {

width: 50%;
height: 50%;
border: none;
padding: 10px;
background: orangered;
color: white;
transition: 0.3s;
border-radius: 22px;
font-size: 20px;
font-family: 'Oswald', sans-serif;
cursor: pointer;

}

.bt1:hover {

 background: orange;
 transform: scale(0.9)


}

.ingressoscard {
  display: flex;
  
  font-size: 35px;
}

.imagem-ingresso {
 height: 45%;
  
}

.ingressoscard1 {
  display: flex;
  
  font-size: 35px;
}


