@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Ubuntu:wght@300&family=Vujahday+Script&display=swap');

body {
  background:black; 
 
}



header {
  
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10%;
  size: 100%;
  
}



.imagemjujus{
  font-family: 'Fredoka One', cursive;
  height: 20%;
  
}


.home{
  font-family: 'Fredoka One', cursive;
  color: white;
  font-size: 35px;
  text-decoration: none;
}



.ingressos{
  font-family: 'Fredoka One', cursive;
  color: white;
  font-size: 35px;
  text-decoration: none;
}

.sobre{
  font-family: 'Fredoka One', cursive;
  color: white;
  font-size: 35px;
  
}

.quemsomos{
  color: white;
  text-align: center;
  font-family: 'Vujahday Script', cursive;
  font-size: 300%;
}

.txtquemsomos{
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  color: white;
  font-size: 25px;
  padding-left: 2%;
}

.banda{
 
 width: 600px; 
 float: left;
 padding-right: 2%;
}

footer {
	width: 100%;
	height: 10%;
  background-color: gray;
  
  
}

.copyright {
	color: #fff;
	font-size: 1.2rem;
	line-height: 40px;
	text-align: center;
}

.copyright a{
	color: #fff;
	font-size: 1rem;
	letter-spacing: 1px;
    text-decoration: none;
}

.copyright a:hover{
	color: orangered;
}

.op {

  padding-top: 15%;

}





