@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body {
  background:black; 
 
}



header {
  
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10%;
  size: 100%;
  
}



.imagemjujus{
  font-family: 'Fredoka One', cursive;
  height: 90px;
  
}


.home{
  font-family: 'Fredoka One', cursive;
  color: white;
  font-size: 35px;
  
}



.ingressos{
  font-family: 'Fredoka One', cursive;
  color: white;
  font-size: 35px;
  text-decoration: none;
}

.sobre{
  font-family: 'Fredoka One', cursive;
  color: white;
  font-size: 35px;
  text-decoration: none;
}

footer {
	width: 100%;
	height: 10%;
  background-color: gray;
  
  
}

.copyright {
	color: #fff;
	font-size: 1.2rem;
	line-height: 40px;
	text-align: center;
}

.copyright a{
	color: #fff;
	font-size: 1rem;
	letter-spacing: 1px;
    text-decoration: none;
}

.copyright a:hover{
	color: orangered;
}

.op {

  padding-top: 100%;

}